
@{
    ViewBag.Title = "Player";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Player : @ViewBag.UserName</h2>

<div class="container">
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            chat.client.addNewMessageToPage = function (name, message) {
                if (message.includes('Start:@ViewBag.UserID')) {
                    window.location.href = "/Round1/PlayerR1?id=" + message;
                }
            };
            $('#displayname').val('@ViewBag.UserID');
            $.connection.hub.start().done(function () {
                chat.server.send($('#displayname').val(), 'NewLogin:@ViewBag.UserID:@ViewBag.UserName');
            });
        });
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}

