@model OlympiaApp.Models.LoginUser

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>Eminent Login Form Flat Responsive widget Template :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Eminent Login Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- font files -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <!-- /font files -->
    <!-- css files -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/login-style.css" rel="stylesheet" />
    <!-- /css files -->
</head>
<body>
    <h1>Olympia Login Form</h1>
    <div class="form-w3ls">
        <div id="signin-agile">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                <p class="header">Tên đăng nhập</p>
                @Html.TextBoxFor(model => model.UserName, new { @id = "username", @required = "required", @type = "text" })
                <p class="header">Mật khẩu</p>
                @Html.TextBoxFor(model => model.Password, new { @id = "password", @type = "password", @placeholder = "**********" })
                if (!String.IsNullOrEmpty(ViewBag.LoginFail))
                {
                    <br />
                    <div class="alert alert-danger"> <strong>Lỗi: </strong> @ViewBag.LoginFail</div>
                    <br />
                }
                <input type="submit" class="sign-in" value="Đăng nhập">
            }
        </div>
    </div> <!-- /form -->
    <p class="copyright">© 2017 Created by HiepPD</p>
    <!-- js files -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/index.js"></script>
    <!-- /js files -->
</body>
</html>
