
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>Admin : @ViewBag.UserName</h2>

    <h4>Số người chơi đăng nhập : <span id="countNum"></span></h4>

    <ul>
        <li>Player 1 : <span id="player1">None</span></li>
        <li>Player 2 : <span id="player2">None</span></li>
        <li>Player 3 : <span id="player3">None</span></li>
        <li>Player 4 : <span id="player4">None</span></li>
    </ul>
    <input type="button" id="start" value="Start" />
    <input type="hidden" id="displayname" />
    <input type="hidden" id="count" value="0" />
    <input type="hidden" id="joined"/>
    <ul id="discussion"></ul>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            var joined = document.getElementById('joined');
            var count = document.getElementById('count');
            chat.client.addNewMessageToPage = function (name, message) {
                if (message.includes("NewLogin") && count.value <= 4) {
                    var mess = message.split(":");
                    if (!joined.value.includes(mess[1])) {
                        count.value++;
                        var id = 'player' + count.value;

                        document.getElementById(id).innerHTML = mess[2];
                        joined.value += (':' + mess[1]);
                        document.getElementById('countNum').innerHTML = count.value;
                    }
                }
            };
            $('#displayname').val('@ViewBag.UserID');
            $.connection.hub.start().done(function () {
                $('#start').click(function () {
                    //chat.server.send($('#displayname').val(), 'ADStart:' + joined.value);
                    window.location.href = "/Round1/Admin?joined="+count.value+joined.value;
                });
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}